<div class="px-14 py-9">
  <div class="bg-white p-14 flex items-center justify-center rounded-lg">
    <img src="https://resource.runteq.jp/curriculum-img/rantekun.svg" alt="らんてくん" width="188" height="306">
    <div class="ml-16">
      <p class="text-xl font-bold text-slate-400">エンジニア</p>
      <p class="text-3xl font-bold text-orange-500">らんてくん</p>
      <p class="mt-4 text-xl">1990年生まれ</p>
      <p class="mt-4 text-xl">
        【性格】
        <br>
        完璧主義
      </p>
      <p class="mt-4 text-xl">【趣味】
        <ul class="pl-5 list-disc text-xl">
          <li>お酒</li>
          <li>VSCodeの拡張機能探し</li>
        </ul>
      </p>
    </div>
  </div>
</div>
